<mat-button-toggle-group
	name="ThemeColor"
	aria-label="Theme color"
	(change)="onSwitchChanged($event.value)">
	<mat-button-toggle
		value="dark"
		[checked]="currentTheme === 'dark'"
		aria-label="Dark theme"
		matTooltip="Dark theme">
		<mat-icon>dark_mode</mat-icon>
	</mat-button-toggle>
	<mat-button-toggle
		value="light"
		[checked]="currentTheme === 'light'"
		aria-label="Light theme"
		matTooltip="Light theme">
		<mat-icon>light_mode</mat-icon>
	</mat-button-toggle>
</mat-button-toggle-group>
