:host {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	height: 50px;
	position: fixed;
	width: 100%;
	padding: 1rem;
	app-searchbar {
		flex-grow: 1;
		margin: 0 1rem;
		// TODO change with media query
		max-width: 50%;
	}
	.title {
		display: flex;
		align-items: center;
		h3 {
			margin: 0 1rem;
		}
	}
}

.content {
	margin-top: 90px;
	height: calc(100% - 90px);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	// TODO ADD breakpoints with media queries
	mat-card {
		width: 60%;
		max-height: 70%;
		height: fit-content;
		min-height: 400px;
		h1 {
			margin-top: 0;
		}
	}
}
