@if (navigationStarted) {
	<mat-progress-bar mode="indeterminate" />
}
<div class="header">
	<div
		class="title c-pointer"
		routerLink="home">
		<mat-icon
			color="primary"
			matTooltip="Return home">
			home
		</mat-icon>
		<h3 class="app-name">What's the weather like?</h3>
	</div>
	@if (city) {
		<h1>
			<span>{{ city.name }}</span>
			@if (city.sys.country) {
				<span>,&nbsp;{{ city.sys.country }}&nbsp;</span>
			}
		</h1>
	}
	<app-switch-theme />
</div>

<app-searchbar (itemSelected)="navigateToCity($event)" />

<!-- error template -->
@if (!!errorInfo) {
	<div class="error-template">
		<mat-icon color="accent">{{ errorInfo.icon }}</mat-icon>
		<div class="error-label">{{ errorInfo.text }}</div>
	</div>
} @else if (city) {
	<!-- Main Content -->
	<div class="content">
		<!-- current weather -->
		<app-current-weather
			class="widget"
			[city]="city" />
		@if (forecastResult) {
			@defer (on viewport) {
				<!-- weather for 5 days -->
				<app-forecast-five
					class="widget"
					[forecastResult]="forecastResult" />
			} @placeholder {
				<div class="widget">Loading next 5 days forecasts...</div>
			}
			@defer (on viewport) {
				<!-- chart temperature for 5 days -->
				<app-temperature-chart
					class="widget"
					[forecastResult]="forecastResult" />
			} @placeholder {
				<div class="widget">Loading next 5 days temperatures...</div>
			}
			@defer (on viewport) {
				<!-- chart precipitation for 5 days -->
				<app-precipitation-chart
					class="widget"
					[forecastResult]="forecastResult" />
			} @placeholder {
				<div class="widget">Loading next 5 days precipitations...</div>
			}
		}
	</div>
}
