@use "sass:math";

:host {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	height: 50px;
	position: fixed;
	width: 100%;
	padding: 1rem;
	app-searchbar {
		flex-grow: 1;
		margin: 0 1rem;
		// TODO change with media query
		max-width: 50%;
	}
	.title {
		display: flex;
		align-items: center;
		h3 {
			margin: 0 1rem;
		}
	}
}

.content {
	margin-top: 90px;
	height: calc(100% - 90px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	.widgets {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.widget {
			margin: 1rem;
		}
	}

	// TODO ADD breakpoints with media queries
	app-current-weather {
		// width: 60%;
		// max-height: 70%;
		// height: fit-content;
		// min-height: 400px;
	}
}

@media (min-width: 576px) {
	.widget {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 50%;
	}
}
@media (max-width: 576px) {
	.widget {
		width: 100%;
	}
}
