<div class="header">
	<div class="title c-pointer" routerLink="home">
		<mat-icon color="primary">home</mat-icon>
		<h3>What's the weather like?</h3>
	</div>
	<app-searchbar></app-searchbar>
	<app-switch-theme></app-switch-theme>
</div>

<!-- Main content -->
@if(city){
<div class="content">
	<h1>
		<span>{{ city.name }}</span>
		@if(city.sys?.country){
		<span>,&nbsp;{{ city.sys?.country }}&nbsp;</span>
		<!-- NB aspect-ratio: 1.45 -->
		<img width="30" height="20" [ngSrc]="city.sys?.country | flag" />
		}
	</h1>
	<div class="widgets">
		<!-- current weather -->
		<app-current-weather class="widget" [city]="city"></app-current-weather>
		@if(forecastResult){
		<!-- weather for 5 days -->
		<app-forecast-five
			class="widget"
			[forecastResult]="forecastResult"
		></app-forecast-five>
		<!-- chart temperature for 5 days -->
		<app-temperature-chart class="widget" [forecastResult]="forecastResult">
		</app-temperature-chart>
		<!-- chart precipitation for 5 days -->
		<app-precipitation-chart
			class="widget"
			[forecastResult]="forecastResult"
		>
		</app-precipitation-chart>
		}
	</div>
</div>
}
