$padding: 1rem;

:host {
	mat-card {
		height: 100%;
	}
}

.row {
	width: calc(100% - 2 * #{$padding});
	padding: 0 $padding;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	div {
		&.wind,
		&.pop {
			display: flex;
			align-items: flex-start;
		}
	}
}
@media (min-width: 576px) {
	.row div {
		width: 20%;
	}
}
@media (max-width: 576px) {
	$colFixedWidth: 50px;
	.row div {
		width: 100%;
		min-width: 15%;
		&.icon {
			width: $colFixedWidth;
		}
		&.hours,
		&.temperature {
			max-width: $colFixedWidth;
		}
	}
}
