:host {
	display: block;
	mat-card,
	mat-card-content {
		height: inherit;
	}
}

.row {
	width: calc(100% - 2rem);
	padding: 0 1rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	div {
		&.wind,
		&.pop {
			display: flex;
			align-items: flex-start;
		}
	}
}
@media (min-width: 576px) {
	.row div {
		width: 20%;
	}
}
@media (max-width: 576px) {
	.row div {
		width: 100%;
		min-width: 15%;
		&.icon {
			width: 50px;
		}
		&.hours {
			max-width: 50px;
		}
	}
}
