$padding: 1rem;

:host {
	mat-card {
		height: 100%;
	}
}

.row,
.header-row {
	width: calc(100% - 2 * #{$padding});
	padding: 0 $padding;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	height: 40px;
	div {
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
		mat-icon {
			margin-right: 0.25rem;
		}
	}
}
