$padding: 1rem;

mat-card {
	height: 100%;
	padding-bottom: $padding;

	.card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		mat-card-title.main-temperature {
			text-align: end;
		}
	}
	.additional-data {
		padding: 0 calc(#{$padding} * 2);
		display: flex;
		flex-wrap: wrap;
		.data {
			display: flex;
			align-items: center;
			margin: 0.5rem 0;
		}
	}
}

@media (min-width: 576px) {
	.data {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}
}
@media (max-width: 576px) {
	.data {
		width: 50%;
	}
}
