mat-card {
	height: 100%;
	padding-bottom: 1rem;
	mat-card-content {
		height: inherit;
	}

	.card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		mat-card-title.main-temperature {
			text-align: end;
		}
	}
	.additional-data {
		padding: 0 2rem;
		display: flex;
		flex-wrap: wrap;
		.data {
			display: flex;
			align-items: center;
			margin: 0.5rem 0;
		}
	}
}

@media (min-width: 576px) {
	.data {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
}
@media (max-width: 576px) {
	.data {
		width: 50%;
	}
}
