/* You can add global styles to this file, and also import other style files */
@use "sass:color";

* {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

html,
body {
	// remove user agent styles
	height: 100vh;
	margin: 0;
	padding: 0;
}

.c-pointer {
	cursor: pointer;
}

// #region SCROLLBAR
::-webkit-scrollbar {
	width: 0.25em;
	height: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background: color.adjust(#708090, $lightness: 10%);
	border-radius: 15px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
// #endregion

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
