@use "@angular/material" as mat;
@use "_palettes.scss" as palettes;

// Include non-theme styles for core.
@include mat.core();

//#region Light theme
$light-primary: mat.define-palette(palettes.$light-primary-palette);
$light-accent: mat.define-palette(palettes.$light-accent-palette);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme(
	(
		color: (
			primary: $light-primary,
			accent: $light-accent,
			warn: $light-warn,
		),
	)
);
// #endregion

//#region Dark theme
$dark-primary: mat.define-palette(palettes.$dark-primary-palette);
$dark-accent: mat.define-palette(palettes.$dark-accent-palette);
$dark-warn: mat.define-palette(mat.$red-palette);
$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $dark-primary,
			accent: $dark-accent,
			warn: $dark-warn,
		),
	)
);
// #endregion

// define custom typography
$custom-typography: mat.define-typography-config(
	// Specify "Roboto" as the default font family for all levels.
	$font-family: "Roboto"
);

// apply typography
@include mat.all-component-typographies($custom-typography);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

.attribution-bg {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

// make a specific class for light theme
.light-theme {
	@include mat.all-component-colors($light-theme);
	.attribution-bg {
		background-color: transparent;
	}
}
