.autocomplete {
	width: 100%;
}
.weather-option {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.example-option-img {
	vertical-align: middle;
	margin-right: 8px;
}
.city-name {
	margin: 0 1rem;
}
::ng-deep .light-theme-autocomplete-panel {
	background-color: white !important;
	color: inherit;
}
