<mat-form-field class="autocomplete">
	<mat-label>Search city</mat-label>
	<mat-icon
		aria-hidden="true"
		matPrefix
		color="primary">
		search
	</mat-icon>
	<input
		matInput
		placeholder="Rome, IT"
		aria-label="city name"
		[matAutocomplete]="auto"
		[formControl]="autocompleteControl" />
	<!-- icons to show errors -->
	@if (searchStatus === "loading") {
		<mat-spinner
			matSuffix
			[diameter]="24"></mat-spinner>
	} @else if (autocompleteSuffix) {
		<mat-icon
			matSuffix
			aria-hidden="true"
			color="warn"
			matTooltip="{{ autocompleteSuffix.tooltip }}">
			{{ autocompleteSuffix.icon }}
		</mat-icon>
	}

	<mat-autocomplete
		#auto="matAutocomplete"
		autoActiveFirstOption
		[displayWith]="displayFn"
		(optionSelected)="onItemSelected($event.option.value)"
		class="autocomplete-panel">
		@for (option of options$ | async; track option) {
			<mat-option [value]="option">
				<div class="weather-option">
					@if (option.weather.length > 0) {
						<img
							aria-hidden="true"
							alt="{{ option.weather[0].description }}"
							[matTooltip]="option.weather[0].description"
							width="36"
							height="36"
							[ngSrc]="option.weather[0].icon | weather" />
					}
					<span class="city-name">{{ option.name }},&nbsp;{{ option.sys.country }}</span>
					<!-- NB aspect-ratio: 1.45 -->
					<img
						aria-hidden="true"
						alt="image for the flag {{ option.sys.country }}"
						width="16"
						height="11"
						[ngSrc]="option.sys.country | flag" />
				</div>
			</mat-option>
		} @empty {
			<!-- Option that works as a placeholder -->
			<mat-option disabled>No results</mat-option>
		}
	</mat-autocomplete>
	<!-- messages for hints, error and loading -->
	<mat-hint>
		<span>{{ autocompleteHint }}</span>
	</mat-hint>
</mat-form-field>
