$headerHeight: 50px;
$padding: 1rem;
$widthMinusPadding: calc(100% - 2 * #{$padding});
$licenseHeight: 57px;

:host {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: end;
	height: $headerHeight;
	padding: $padding;
	width: $widthMinusPadding;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(90% - #{$headerHeight} - #{$licenseHeight});
	width: 100%;

	mat-card {
		height: fit-content;
		h1 {
			margin-top: 0;
		}
		h3 {
			text-align: justify;
		}
		.suggestions {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-around;
			button {
				margin: 0 0.5rem 1rem;
				min-width: 120px;
			}
		}
	}
}
@media (min-width: 590px) {
	mat-card {
		width: 60%;
		max-height: 70%;
	}
}
@media (max-width: 590px) {
	mat-card {
		width: $widthMinusPadding;
		height: fit-content;
	}
}
