<div class="header">
	<app-switch-theme></app-switch-theme>
</div>

<div class="content">
	<h1>What's the weather like?</h1>
	<mat-card>
		<mat-card-content>
			<h3>Welcome to my Demo application for weather forecasts. Look for a city using the search input, or pick one from the list below.</h3>
			<app-searchbar></app-searchbar>
			<div class="suggestions">
				<button
					mat-flat-button
					type="button"
					color="primary"
					(click)="navigateTo(3170647)">
					Pisa, IT
				</button>
				<button
					mat-flat-button
					type="button"
					color="primary"
					(click)="navigateTo(3171366)">
					Pavia, IT
				</button>
				<button
					mat-flat-button
					type="button"
					color="primary"
					(click)="navigateTo(3169070)">
					Rome, IT
				</button>
				<button
					mat-flat-button
					type="button"
					color="primary"
					(click)="navigateTo(2643743)">
					London, GB
				</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>

<a
	href="https://openweathermap.org/"
	class="attribution c-pointer"
	matTooltip="Data provided by OpenWeatherMap">
	<!-- NB ratio w/h of this image is 1.76 -->
	<img
		alt="attribution to https://openweathermap.org"
		priority
		width="100"
		height="57"
		ngSrc="./assets/OpenWeatherLogo.png" />
</a>
