<div
	class="header"
	role="banner">
	<app-switch-theme />
</div>
<div
	class="content"
	role="main">
	<h1>What's the weather like?</h1>
	<mat-card>
		<mat-card-content>
			<p class="presentation">
				Welcome to my Demo application for weather forecasts. Look for a city using the search input, or pick one from the list below.
				<a
					href="https://github.com/syrenly/weather-forecast"
					target="_blank"
					rel="noopener noreferrer">
					<span>View source code on GitHub</span>
				</a>
				.
			</p>
			<app-searchbar
				role="search"
				(itemSelected)="navigateToCity($event)" />
			<div class="suggestions">
				@for (city of cities; track city.id) {
					<button
						mat-flat-button
						type="button"
						color="primary"
						[attr.aria-label]="'View weather forecast for ' + city.name"
						(click)="navigateByCityId(city.id)">
						{{ city.name }}
					</button>
				}
			</div>
		</mat-card-content>
	</mat-card>
</div>

<div role="contentinfo">
	<a
		href="https://openweathermap.org/"
		class="attribution c-pointer attribution-bg"
		matTooltip="Data provided by Open Weather">
		<!-- NB ratio w/h of this image is 1.76 -->
		<img
			alt="Data provided by Open Weather: click to visit https://openweathermap.org"
			priority
			width="100"
			height="57"
			ngSrc="./assets/images/OpenWeatherLogo.png" />
	</a>
</div>
